@page "/favorites"
@using QuranBlazor.Data
@inject DBContext db

<div class="mx-4">
    <h3 class="px-5 py-3 shadow-lg w-100 bg-warning bg-gradient rounded-3">Favorite Ayas</h3>
</div>

@foreach (Aya aya in Ayas)
{
    <div class="row m-3">
        <div class="col">
            <div class="card bg-success bg-gradient">
                <div class="card-body">
                    <a href="AyaList?SuraId=@aya.SuraId#@aya.AyaId" class="stretched-link text-white">@* &SuraName=@GetSuraName(aya.SuraId) *@
                        <div class="vstack">
                            <h3 class="card-title">@aya.SuraId. @db.GetSuraName(aya.SuraId), @aya.AyaId Aya</h3>
                            <h4 class="tab-content">@aya.Text.Substring(0, aya.Text.Length>50?50:aya.Text.Length)</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

@code {
    public IEnumerable<Aya> Ayas => db.GetFavorites().Result;

    // private string GetSuraName(int suraId)
    // {
    //     return db.GetSuraName(suraId);
    // }

}
