@page "/favorites"
@using QuranBlazor.Data
@using System.Diagnostics
@inject DbContext db
@inject DialogService Dialog

<div class="text-center mb-3">
    <h3 class="px-5 py-3 shadow-lg w-100 header-bg-color bg-gradient rounded-pill text-white"><img src="heart_check_white.png" width="48px" height="48px" class="mx-2" /> Белгиланган оятлар</h3>
</div>
@if (Ayas != null)
{
    @foreach (FavoritesViewModel aya in Ayas)
    {
        <div class="row my-2">
            <div class="col">
                <div class="card bg-light bg-gradient rounded-pill">
                    <div class="card-body py-1">
                        <div class="hstack">
                            <div class="vstack">
                                <a href="AyaList?SuraId=@aya.SuraId#@aya.AyaId" class="text-black" title="Оятга ўтиш">
                                    <h3 class="card-title mb-0">@($"{aya.SuraId}. {aya.SuraName}, {aya.AyaId} оят")</h3>
                                    <h4 class="card-body p-0 fs-6">@aya.Text.Substring(0, Math.Min(aya.Text.Length, 50))</h4>
                                </a>
                            </div>
                            <span class="p-2 fs-3 text-black" role="button" aria-hidden="true" @onclick="() => DeleteFavorite(aya)"><img src="heart_minus_black.png" width="48px" height="48px" class="mx-2" /></span>@* oi oi-trash *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@code {
    private List<FavoritesViewModel> Ayas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Ayas = await db.GetFavoritesAsync().ConfigureAwait(false);
    }

    private async Task DeleteFavorite(FavoritesViewModel aya)
    {
        var result = await DisplayConfirm("Ишончингиз комилми?", "Сиз белгилаган оят ўчирилади. Ишончингиз комилми?", "Ҳа", "Йўқ").ConfigureAwait(false);
        if (result)
        {
            var deleted = await db.DeleteFavoriteAsync(aya.AyaId, aya.SuraId);
            if (deleted > 0)
            {
                var removed = Ayas.Remove(Ayas.Find(a => a.AyaId == aya.AyaId && a.SuraId == aya.SuraId));
                Debug.WriteLine($"Delete favorite aya result is {removed}");
                MainThread.BeginInvokeOnMainThread(() => Dialog.DisplayToast("Белгиланган оят олиб ташланди"));
            }
        }
    }

    public Task<bool> DisplayConfirm(string title, string message, string accept, string cancel)
    {
        return Application.Current.MainPage.DisplayAlert(title, message, accept, cancel);
    }
}
