@page "/goto"
@inject JSRuntime JsRuntime
@inject NavigationManager NavigationManager
<h3>Goto</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        string prompted = await JsRuntime.InvokeAsync<string>("prompt", "Input sura and aya number (example: 16:90 or 16/90):"); // Prompt
        if (!string.IsNullOrEmpty(prompted))
        {
            if (prompted.Contains(":") || prompted.Contains("/"))
            {
                int suraId, ayaId;
                if (prompted.IndexOf(":", StringComparison.InvariantCultureIgnoreCase) > 0)
                {
                    suraId = Convert.ToInt32(prompted.Split(":")[0]);
                    ayaId = Convert.ToInt32(prompted.Split(":")[1]);
                    NavigationManager.NavigateTo("AyaList?SuraId=" + suraId + "#" + ayaId);
                }
                if (prompted.IndexOf("/", StringComparison.InvariantCultureIgnoreCase) > 0)
                {
                    suraId = Convert.ToInt32(prompted.Split("/")[0]);
                    ayaId = Convert.ToInt32(prompted.Split("/")[1]);
                    NavigationManager.NavigateTo("AyaList?SuraId=" + suraId + "#" + ayaId);
                }
            }
        }
        await JsRuntime.InvokeVoidAsync("alert", "Please check your input, it should be look like 16:90 or 16/90"); // Alert
    }
}