@inherits LayoutComponentBase

@code {
    
}

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-2" id="maincontent">
            @Body
        </article>
    </main>
</div>