@using QuranBlazor.Data
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
<div class="top-row ps-3 navbar sticky-top header-bg-color">
    <div class="container-fluid">
        <a class="navbar-brand d-flex" href="">
            <img src="logo.svg" alt="Ўзбекча таржима" width="32px" height="32px" class="d-flex align-text-top">
            <span class="fs-3 fw-bold d-flex align-self-center text-center mx-auto text-white">Ўзбекча таржима</span>
        </a>
        <button title="Navigation menu" class="navbar-toggler text-white" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column fw-bold">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                @* <span class="oi oi-home" aria-hidden="true"></span> *@<img src="home.png" width="32px" height="32px" class="mx-2" /> Бош саҳифа
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Suras" Match="NavLinkMatch.All">
                @* <span class="oi oi-list-rich" aria-hidden="true"></span> *@<img src="menu_book_black.png" width="32px" height="32px" class="mx-2" /> Суралар
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Favorites" Match="NavLinkMatch.All">
                @* <span class="oi oi-heart" aria-hidden="true"></span> *@<img src="heart_check_black.png" width="32px" height="32px" class="mx-2" /> Белгиланган оятлар
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Notes" Match="NavLinkMatch.All">
                @* <span class="oi oi-clipboard" aria-hidden="true"></span> *@<img src="note_alt_black.png" width="32px" height="32px" class="mx-2" /> Қайдлар
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Search" Match="NavLinkMatch.All">
                @* <span class="oi oi-magnifying-glass" aria-hidden="true"></span> *@<img src="search_black.png" width="32px" height="32px" class="mx-2" /> Излаш
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink type="button" class="nav-link" Match="NavLinkMatch.All" @onclick="() => DisplayPrompt()">
                @* <span class="oi oi-share" aria-hidden="true"></span> *@<img src="forward_black.png" width="32px" height="32px" class="mx-2" /> Оятга ўтиш
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Settings" Match="NavLinkMatch.All">
                @* <span class="oi oi-cog" aria-hidden="true"></span> *@<img src="settings_black.png" width="32px" height="32px" class="mx-2" /> Созламалар
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task DisplayPrompt()
    {
        var sureayetno = await DialogService.DisplayPrompt("Оятга ўтиш", "Сура ва оят рақамини киритинг (масалан: 16:90 ёки 16/90)", "Кириш", "Қайтиш");
        if (!string.IsNullOrEmpty(sureayetno) && (sureayetno.Contains(':') || sureayetno.Contains('/')))
        {
            char delimiter = sureayetno.Contains(':') ? ':' : '/';
            var parts = sureayetno.Split(delimiter);
            if (parts.Length == 2 && int.TryParse(parts[0], out int suraId) && int.TryParse(parts[1], out int ayaId))
            {
                NavigationManager.NavigateTo($"AyaList?SuraId={suraId}#{ayaId}");
                return;
            }
        }
        await DialogService.DisplayAlert("Нотўгри шакл", "Сиз боб ва оят рақамини нотўғри киритдингиз, қайта уриниб кўринг (мисол: 16:90 ёки 16/90)", "Қайтиш");
    }

}
